@model BackToSleep.Models.SleepData

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>SleepData</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SleepHours)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SleepHours)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SleepQuality)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SleepQuality)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Day)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Day)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AspNetUser.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AspNetUser.Email)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
