<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Best App</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse ">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <p id = "id">
                @Html.ActionLink("Back2Sleep", "Index", "Home", new { area = "" },  new { @class = "header" })
                </p>
            </div> 
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">



                    @if (User.Identity.IsAuthenticated)
                    {
                        <li>@Html.ActionLink("My Sleep Patterns", "Index", "UserSleepData")</li>
                    }
                    else
                    {
                        <li>@Html.ActionLink("Sleep Estimator", "DailySleepPatterns", "Home")</li>
                    }
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div>
        @RenderBody()
        <hr />
        <footer>
            
            <p>&copy; @DateTime.Now.Year - Easily the Best Application in the Room</p>
            <iframe width="0" height="0" src="https://www.youtube.com/embed/xQ6xgDI7Whc?autoplay=1&controls=0&showinfo=0&autohide=1" frameborder="0" allow="autoplay; encrypted-media"></iframe>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
